<header>
    <h1>AP Web Scraper</h1>
    {{#if page}}
        <a href='/' class='nav'>Home</a>
    {{else}}
        <a href='/api/scrape' class='nav scrape-btn'>Scrape</a>
        <a href='/saved' class='nav'>Saved</a>
    {{/if}}
</header>