<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/styles/style.css">
		<title>AP Web Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/javascript.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
