<div id='container'>
    {{> header-block}}
    <hr>
    <div id='articles'>
        {{#each article}}
            <div class='article'>
                {{> article-block}}
            </div>
            {{> note-container-block}}
        {{/each}}
    </div>
</div>

{{#if page}}
    <script src='../js/saved.js'></script>
{{else}}
    <script src='../js/index.js'></script>
{{/if}}