<div id='container'>
    <header>
        <h1>Associated Press Web Scraper</h1>
        <a href='/' class='nav'>Home</a>
    </header>
    <hr>
    <div id='articles'>
        {{#each article}}
            <div class='article'>
                {{> article-block}}
                <button class='view-btn' data-id={{_id}} data-visible='false'>View Notes</button>
            </div>
            <div class='notes hidden' id={{_id}}>
                {{#each notes}}
                    <div class='note'>
                        {{>note-block}}
                    </div>
                {{/each}}
                <div class='input'>
                    <textarea name='text' class='textarea'></textarea>
                    <button class='submit-btn' data-id={{_id}}>Submit</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>


<script src='../js/saved.js'></script>